{% extends 'index.html' %} {% load static %} 
{% block content %}

<html lang="pt-br">
    <head>
        <title>Acesso Negado</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    </head>

    <body>
        <div class="container text-center">
            <h1>Acesso Negado</h1>
            <p>Você precisa estar autenticado para acessar esta página.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Ir para Login</a>
        </div>
    </body>
</html>

{% endblock %}